body {
    background: #f9f8f8;
    margin: 0;
    height: 2000px;
}


/*Container*/
.container {
    margin: 0 165px;
    height: 100%;
}

.header {
    background-image: url(bg.png);
    height: 120vh;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    color: white;

}

.header-line {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-img {
    margin-right: 200px;
}

.header a{
    color: white;
    font-weight: 700;
    text-decoration: none;
}

.nav a{
    line-height: 19px;
    font-size: 14px;
    padding-right: 25px;
    transition: color 0.3s linear;
}

.nav a:hover {
    color: rgb(255, 31, 31);
}

.cart {
    position: relative;
    border-right: 1px solid white;
    padding-right: 10px;
    height: 55px;
}

#cart-img {
    position: absolute;
    top: 17px;
    right: 16px;
}

.number a{
    font-size: 16px;
    line-height: 25px;
    font-weight: 700;
    transition: color 0.3s linear;
}

.number a:hover {
    color: rgb(255, 31, 31);
}

#phone-holder {
    display: flex;
    align-items: center;
}

.phone {
    padding-right: 8px;
}

.phone-text {
    font-size: 14px;
    font-weight: 400;
}

#btn-header {
    padding: 12px 22px;
    font-weight: 700;
    line-height: 19px;
    font-size: 14px;
    background-color: rgba(255, 116, 0, 1);
    transition: background-color 0.3s linear;
}

#btn-header:hover {
    background-color: rgb(180, 6, 6);
}

/*Header-down*/
.header-down {
    position: relative;
}

.header-title {
    font-family: 'Tinos', serif;
    color: rgba(214, 126, 53, 1);
    font-size: 50px;
    line-height: 57px;
    font-weight: 400;
    text-align: center;
    position: absolute;
    left: 0;
    margin-top: 194px;
    margin-bottom: 21px;
}

#header-text-1 {
    font-size: 70px;
    line-height: 91px;
}

#header-text-2 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
}

#header-text-2::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 61px;
    background-color: white;
    top: 159px;
    left: 73px;
}

#header-text-2::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 61px;
    background-color: white;
    top: 159px;
    left: 365px;
}

#btn-header-down {
    font-family: 'Open Sans', sans-serif;
    padding: 15px 18px;
    font-weight: 700;
    line-height: 19px;
    font-size: 14px;
    background-color: rgba(255, 116, 0, 1);
    transition: background-color 0.3s linear;
}

#btn-header-down:hover {
    background-color: rgb(180, 6, 6);
}

/*Card*/
.cards {
    justify-content: center;
    height: 215px;
}

.cards img {
    width: 24%;
    margin-top: 30px;
}

.cards p {
    margin-top: 0;
}

#card-text-1 {
    color: rgba(188, 144, 96, 1);
}

#card-text-2 {
    color: rgba(101, 99, 99, 1);
}

#card-1 {    
    text-align: center;
    float: left;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 31%;
    height: 310px;
    margin-right: 31px;
    margin-top: -100px;
    font-family: 'Tinos';
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
}

#card-2 {
    text-align: center;
    float: left;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 31%;
    height: 310px;
    margin-right: 31px;
    margin-top: -100px;
    font-family: 'Tinos';
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
}

#card-3 {
    text-align: center;
    float: left;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 31%;
    height: 310px;
    margin-top: -100px;
    font-family: 'Tinos';
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
}

/*History*/
#history {
    margin-top: 150px;
    padding-bottom: 200px;
}

#history-title {
    font-family: "tinos";
    font-weight: 400;
    font-size: 54px;
    line-height: 62px;
    width: 444px;
    text-align: center;
    margin-bottom: 21px;
}

#history-title span {
    color: rgba(214, 126, 52, 1);
}

#history-text {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    color: rgba(101, 99, 99, 1);
    width: 444px;
    text-align: center;
}

#history-number {
    display: flex;
    width: 444px;
    justify-content: center;
    margin-top: 39px;
    margin-left: 50px;
}

#history-item {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 35px;
    line-height: 54px;
    text-align: center;
    color: #BC9060;
    margin-right: 50px;
    margin-top: 50px;
}

#history-item span {
    display: block;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}

#history-img {
    position: relative;
}

#history-holder {
    display: flex;

}

#img-1 {
    position: absolute;
    z-index: 1;
    top: 185px;
    left: 390px;
}
#img-2 {
    position: absolute;
    z-index: 0;
    top: 60px;
    left: 199px;
}

#img-3 {
    position: absolute;
    z-index: -1;
    top: 39px;
    left: -13px;
}

#img-4 {
    position: absolute;
    z-index: -1;
    top: 105px;
    left: 303px;
}

/*Black-block*/
#black-block {
    background-image: url(block-fon.png);
    padding-top: 80px;
    padding-bottom: 80px;
}

#left-title {
    font-family: 'Tinos';
    font-weight: 400;
    font-size: 52px;
    line-height: 60px;
    color: #D67E34;
    width: 601px;
}

#left-text {
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 33px;
    color: white;
}

.block-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#btn-black-block {
    font-family: 'Open Sans', sans-serif;
    padding: 15px 41px;
    font-weight: 700;
    line-height: 19px;
    font-size: 14px;
    background-color: rgba(255, 116, 0, 1);
    color: white;
    text-decoration: none;
    transition: background-color 0.3s linear;
}

#btn-black-block:hover {
    background-color: rgb(180, 6, 6);
}




.eat {
    height: 100px;
}